.bg-primary {
    background-color: #255e00 !important;
}

.btn-primary {
    background-color: #255e00 !important;
    border-color: #255e00 !important;
}


.link {
    background-color: #5f5fc4;
    color: black;
}

.link:hover {
        background-color: #5f5fc4;
        color: white;
}

.linkdivers {
    background-color: #ff9900;
    color: black;
}

    .linkdivers:hover {
        background-color: #ff9900;
        color: white;
    }


.header_link{
    color: white;
}

.header_link:hover {
    color: white;
}


    