.bg-primary {
    background-color: #558c2f !important;
}

.btn-primary {
    background-color: #558c2f !important;
    border-color: #558c2f !important;
}

.bg-primary-light {
    background-color: #85bc5c !important;
}

.btn-primary-light {
    background-color: #85bc5c !important;
    border-color: #85bc5c !important;
}

.bg-primary-dark {
    background-color: #255e00 !important;
}

.btn-primary-dark {
    background-color: #255e00 !important;
    border-color: #255e00 !important;
}

.bg-secondary {
    background-color: #283593 !important;
}

.btn-secondary {
    background-color: #283593 !important;
    border-color: #283593 !important;
}

.bg-secondary-light {
    background-color: #5f5fc4 !important;
}

.btn-secondary-light {
    background-color: #5f5fc4 !important;
    border-color: #5f5fc4 !important;
}

.bg-secondary-dark {
    background-color: #001064 !important;
}

.btn-secondary-dark {
    background-color: #001064 !important;
    border-color: #001064 !important;
}

.text-primary {
    color: #000000 !important;
}

.text-secondary {
    color: #ffffff !important;
}


.link {
    background-color: #5f5fc4;
    color: black;
}

.link:hover {
        background-color: #5f5fc4;
        color: white;
}

.linkdivers {
    background-color: #ff9900;
    color: black;
}

    .linkdivers:hover {
        background-color: #ff9900;
        color: white;
    }


.header_link{
    color: white;
}

.header_link:hover {
    color: white;
}


    