
@{
    ViewBag.Title = "Fonctionnalités de gestion";
}


    <div class="col-md-4">

        @*@Html.ActionLink("Gestion des rôles", "Index", "Roles", null, new { @class = "btn btn-lg btn-block btn-secondary text-secondary" })*@

        @Html.ActionLink("Gestion des types de produit", "Index", "ProductTypes", null, new { @class = "btn btn-lg btn-block btn-secondary text-secondary mt-3" })

        @*Html.ActionLink("Gestion des états de produit", "Index", "StateProducts", null, new { @class = "btn btn-lg btn-block btn-secondary text-secondary mt-3" })*@

        @Html.ActionLink("Gestion des taux TVA", "Index", "TVAs", null, new { @class = "btn btn-lg btn-block btn-secondary text-secondary mt-3" })

        @Html.ActionLink("Gestion du personnel", "Index", "People", null, new { @class = "btn btn-lg btn-block btn-secondary text-secondary mt-3" })

        @Html.ActionLink("Retour", "Index", "Users", null, new { @class = "btn btn-lg btn-block btn-secondary text-secondary mt-3" })

    </div>

